html {
    background-color:rgb(36, 40, 41);
    color: black;
    line-height: 1.8;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
header{
    padding: 70px;
    font-size: 28px;
    color:white ;
    font-weight: bolder;
}
#headerh1{
    padding: 70px;
    font-size:40px;
    color:white ;
    font-weight: bolder;
    text-align: center; 
    background-color: rgb(197, 76, 63);
     
}
#salpic, img{
    height: 300px;
    width: 300px;
    margin-left: 200px;
}



  div:after {
    content: "";
    clear: both;
    display: table;
  }
#footerh2{
    padding: 20px;
    font-size:30px;
    color:white ;
    font-weight: bolder;
    text-align: center; 
    background-color: rgb(197, 76, 63);
    margin-top: 300px;
}

  
  table {
    margin: 30px;
    border: 30px rgb(197, 76, 63);
    background-color: white;
    box-shadow: 7px 7px 14px 14px rgb(102, 100, 100);
  }

    th, .locStyle {
    padding: 20px;
    background-color: rgb(197, 76, 63);
    font-weight: bolder;
    text-align: center;
  }
  tr{
    padding: 20px;
    background-color: rgb(197, 76, 63);
    font-weight: bolder;
    text-align: center; 
  }
  
  tr, td {
    padding: 20px;
    background-color: rgb(94, 136, 146);
    
  }
  tr:hover, td:hover {
    background-color: rgb(243, 253, 155);
  }

  th:hover, tr:hover {
    background-color: rgb(155, 253, 155);
  }
  

main h2{
  color: white;
  font-size: 25px;
  font-weight: bolder;
  margin: 30px;
  
}
  main ul li{
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 30px;
   
  }
  main h2 {
    color: rgb(197, 76, 63);
    font-size: 25px;
    font-weight: bolder;
    margin: 30px;
  }

  
  .column {
    float: left;
    width: 33.33%;
    margin-left: 50px;
    margin-top: 20px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }

